// Override Bootstrap variables before importing
@use "bootstrap/scss/bootstrap" with (
  $enable-rounded: false,
  $body-bg: #000,
  $body-color: #f8f9fa,
  $link-color: #f8f9fa,
  $link-decoration: underline,
  $link-hover-color: #6c757d,
  $link-hover-decoration: underline,
  $list-group-bg: #000,
  $list-group-border-color: #dee2e6,
  $table-border-color: #212529,
  $modal-content-bg: #000,
  $modal-header-border-width: 0,
  $modal-footer-border-width: 0,
  $btn-close-color: #fff
);

html,
body,
#root {
  height: 100%;
  color: #f8f9fa;
}

a:hover {
  color: #adb5bd;
}

.navbar-text,
.navbar-text a,
.nav-link {
  color: #f8f9fa;
}

.nav-link:focus {
  color: #adb5bd !important;
}

.navbar-text a:focus,
.navbar-text a:active,
.navbar-text a:hover,
.nav-link:hover {
  color: #adb5bd;
}
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}

.navbar-nav .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  flex-direction: row;
}

.navbar-expand {
  padding-left: 16px;
  padding-right: 16px;
}

.nav-link {
  text-decoration: none;
}

.list-group-item {
  text-decoration: none;
  color: #f8f9fa;
}

.list-group-item:hover {
  text-decoration: none;
}

.table thead th {
  border-bottom: 2px solid white;
  border-top: none;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #212529;
}

.close {
  opacity: 1;
}

img.controller-icon {
  width: 40px;
  height: 40px;
  margin-top: -20px;
}

h1 {
  font-size: 2.5rem;
}

// Fix hover color being white for outline buttons
.btn-outline-primary {
  --bs-btn-hover-bg: #000;
}
