.ListPage {
  padding-bottom: 1.5rem!important;
}

.ListPage .list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  background-color: #000;
  border: 1px solid #dee2e6;
}

.ListPage .list-group-item .delete {
  color: red;
  margin-left: 0.8em;
  font-size: 1.5em;
  line-height: 1em;
  position: relative;
  top: 2px;
}

.ListPage .list-group-item .delete:hover {
  color: darkred;
}

.drop-zone {
  height: 100%;
}
