.ListPage .list-group-item .delete {
  color: red;
  background: none;
  border: 0;
  cursor: pointer;
  margin-left: 10px;
  padding: 0;
}

.ListPage .list-group-item .delete:hover {
  color: darkred;
}
